<% if local_assigns[:bold] %>
  <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= value %>
  </th>
<% else %>
  <td class="px-6 py-4">
    <% if local_assigns[:html] %>
      <%= yield %>
    <% else %>
      <%= value %>
    <% end %>
  </td>
<% end %>
